@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: #fff;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 1.4rem 0;
}

p {
  color: var(--transparent-white);
  font-family: "Lexa Deca", sans-serif;
  line-height: 2;
  font-size: 1rem;
  font-weight: 400;
  max-height: 190px;
}

/*  Classes  */
.container .card-container {
  border-radius: 8px;
}

.card-container {
  margin: 5rem 2rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.38);
}

.padding {
  padding: 4rem;
}

.button {
  padding: 0.7rem 1.5rem;
  border-radius: 20px;
  border: none;
  margin-top: 2rem;
  background-color: var(--very-light-gray);
  font-family: "Lexa Deca", sans-serif;
  font-weight: 600;
}

/*  Sedans Div  */
.sedans {
  background-color: var(--bright-orange);
}

.sedans .button {
  color: var(--bright-orange);
}

/*  Suvs Div  */
.suvs {
  background-color: var(--dark-cyan);
}

.suvs .button {
  color: var(--dark-cyan);
}

/*  Luxury Div  */
.luxury {
  background-color: var(--very-dark-cyan);
}

.luxury .button {
  color: var(--very-dark-cyan);
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 3rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*  Media Queries */
@media (min-width: 768px) {
  .container {
    height: 93vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .card-container {
    display: flex;
  }

  .padding {
    padding: 4rem;
  }

  p {
    line-height: 1.5;
    margin-bottom: 4rem;
  }
}

@media (min-width: 1440px) {
  .card-container {
    max-width: 50%;
  }
}
